*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
build/
/captures/
.externalNativeBuild/
.cxx/
local.properties

keystore.properties
keystore/
output/
*.apk
*.aab

# Gradle
!gradle/wrapper/gradle-wrapper.jar
